services:
  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - mean-network

  backend:
    image: sushantsavilake/mean-backend
    container_name: backend
    restart: always
    environment:
      - MONGO_URL=mongodb://mongodb:27017/dd_db
      - PORT=8080
    depends_on:
      - mongodb
    networks:
      - mean-network

  frontend:
    image: sushantsavilake/mean-frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    networks:
      - mean-network

networks:
  mean-network:
    driver: bridge

volumes:
  mongo-data:
