name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build frontend image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend ./frontend

      - name: Build backend image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend ./backend

      - name: Push frontend image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend

      - name: Push backend image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend
