name: Build Push Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build frontend image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend ./frontend

      - name: Build backend image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend ./backend

      - name: Push frontend image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend

      - name: Push backend image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/mean-devops-assignment
            git pull
            sudo docker compose pull
            sudo docker compose up -d
